@keyframes slideUpFadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUpFadeIn 0.3s ease-out forwards;
}

@keyframes slideDownFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-down {
  animation: slideDownFadeOut 0.3s ease-in forwards;
}
